
html {
	background: black;
}

header { 
		height: 250px;
		background: url('capa2.jpg') center center;
		background-size: cover;
		background-position: top;
		margin-top: 20px;
		margin-bottom: 30px;
}

#cima{
	padding-top: 45px;
}

#evento{
	padding-left: 30px;
}

#primeiro{
	text-align: left;
    font: ;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    background-color: rgba(0,0,0,0.4); 
   
}

#segundo{
	text-align: left;
    font: ;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    background-color: rgba(0,0,0,0.4); 
}

footer {
		background: url('capa1.jpg') center center;
		background-size: cover;
		margin-top: 30px;
		background-position: center;
}

.comp {
       padding: 45px;

}

.selo {
	   margin: 0;
	   text-transform: uppercase;
	   font-size: 12px;
	   color: rgba(0,0,0,0.4);	
	   text-align: right;
}