
html {
	background: black;
}

header { 
		height: 450px;
		background: url('capa2.jpg') center center;
		background-size: cover;
		background-position: top;
		margin-top: 20px;
		margin-bottom: 30px;
}

h1 { 
	text-align: center;
	font: ;
	size: 72px;
	font-weight: 700;
	color: white;
	text-transform:uppercase;
	letter-spacing: 0.05em;
	padding-top: 60px;
}

span {
	  display: inline-block;
	  padding: 0.2em 0.5em;
	  border: white solid 10px;
}

.seta {
	   text-align: center;
	   font: ;
	   font-weight: 700;
	   text-transform: uppercase;
	   letter-spacing: 0.05em;
	   color: white;
	   background-color: rgba(0,0,0,0.4); 
}

a:link {
	    color: white;
}

a:hover {
   		 color: black;
}

a:visited {
		   color: white
}

.login {
	    margin-left: 3%;
	    position: fixed;
}

img {
	padding-left: 30px;
	padding-right: 30px;
}

footer {
		background: url('capa1.jpg') center center;
		background-size: cover;
		margin-top: 30px;
		background-position: center;
}

.comp {
       padding: 45px;

}

.selo {
	   margin: 0;
	   text-transform: uppercase;
	   font-size: 12px;
	   color: rgba(0,0,0,0.4);	
	   text-align: right;
}